<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:remove="all">Order Confirmation</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>Pedido número: <span th:text="${order.id}"> </span></h1>
		<p>Instante: <span th:text="${#dates.format(order.date, 'dd/MM/yyyy HH:mm')}"></span></p>
		<p>Cliente: <span th:text="${order.client.name}"></span></p>
		<p>Situação do pagamento: <span	th:text="${order.payment.paymentStatus.description}"></span></p>
		<h3>Detalhes do pedido:</h3>
		<table border="1">
			<tr>
				<th>Produto</th>
				<th>Quantidade</th>
				<th>Preço unitário</th>
				<th>Subtotal sem desconto</th>
				<th>Subtotal com desconto</th>
			</tr>
			<tr th:each="item : ${order.items}">
				<td th:text="${item.product.name}">nome</td>
				<td th:text="${item.quantity}">quantidade</td>
				<td th:text="${#numbers.formatDecimal(item.price, 0, 'POINT', 2, 'COMMA')}">preco</td>
				<td th:text="${#numbers.formatDecimal(item.amountWithoutDiscount, 0, 'POINT', 2, 'COMMA')}">subTotal sem desconto</td>
				<td th:text="${#numbers.formatDecimal(item.amountWithDiscount, 0, 'POINT', 2, 'COMMA')}">subTotal com desconto</td>
			</tr>
		</table>
		<p>Valor total sem desconto: <span th:text="${#numbers.formatDecimal(order.orderAmountWithoutDiscount, 0, 'POINT', 2, 'COMMA')}"></span></p>
		<p>Valor total com desconto: <span th:text="${#numbers.formatDecimal(order.orderAmountWithDiscount, 0, 'POINT', 2, 'COMMA')}"></span></p>
	</div>
</body>
</html>